{% if page.url | locale_links | length > 0 %}
  <nav id="footer" aria-label="{{ languages[page.lang].ariaLang }}">
    {% for link in page.url | locale_links %} {%- if not loop.first %}/{% endif %}
    <p>
      {{ languages[page.lang].availableText }}
      <a href="{{ link.url }}" lang="{{ link.lang }}" hreflang="{{ link.lang }}">{{ link.label }}</a>
    </p>
    {% endfor %}
  </nav>
{% endif %}
<nav>
  <p>
    Follow me on
    <a href="#">Twitter</a> or
    <a href="#">Linkedin</a>
  </p>
</nav>
{# alternative footer #}
{# <footer>
  <nav id="footer" aria-label="{{ languages[page.lang].ariaLang }}">
    <a href="{{ page.url }}" lang="{{ page.lang }}" hreflang="{{ page.lang }}">
      {{ page.lang | upper }}
    </a>

    {% for link in page.url | locale_links %}
    <a href="{{ link.url }}" lang="{{ link.lang }}" hreflang="{{ link.lang }}">
      {{ link.lang | upper }}</a
    >
    {% endfor %}
  </nav>
</footer> #}