---
title: "Home"
description: "Website description"
date: Last Modified
layout: layouts/base.njk
numberOfLatestPostsToShow: 3
---

<h1>Eleventy Multilingual Portfolio</h1>

<p>
  Description non traduite : This template is for people with little coding experience who still want an affordable, manageable and very performant portfolio and/or blog website (unlike no-code tools). It aims for simplicity yet up-to-date best practices in term of accessibility, SEO, UI, speed and so on. See the <a href="#">repository on GitHub</a>.
</p>

    {# remove the head filter to list every project in the collection #}
    {%- for project in collections.project | byLang | head(-1 * numberOfLatestPostsToShow) | reverse %}
    <section>
    <a href="{{ project.url }}">
      {% first_image project %}
    </a>
    <h2>
      <time datetime="{{ project.date | htmlDateString }}">{{ project.date | readableDate("yyyy") }}</time> - 
      {{ project.data.title }}
    </h2>
    {# uncomment the following line to also display the page description of the project#}
    {# <p>{{ project.data.description}}</p> #}
    </section>
  {% endfor -%}


<h2><a href="/en/projects/">Voir plus de projets</a></h2>