---
title: "Home"
description: "Website description"
date: Last Modified
layout: layouts/base.njk
numberOfLatestPostsToShow: 3
---

<h1>Eleventy Multilingual Portfolio</h1>

<p>
  Un modèle destiné aux personnes ayant peu d'expérience en programmation mais qui souhaitent néanmoins un site web portfolio et/ou blog abordable, personnalisable, automatisé et très performant (à la différence des outils "no-code"). Il vise la simplicité tout comme les meilleures pratiques actuelles en termes d'accessibilité, de référencement, d'interface utilisateur, de vitesse, etc. Voir <a href="https://github.com/omroka/eleventy-multilingual-portfolio">le projet libre et open-source sur GitHub</a>.
</p>

    {# remove the head filter to list every project in the collection #}
    {%- for project in collections.project | byLang | head(-1 * numberOfLatestPostsToShow) | reverse %}
    <section>
    <a href="{{ project.url }}">
      {% first_image project %}
    </a>
    <h2>
      <time datetime="{{ project.date | htmlDateString }}">{{ project.date | readableDate("yyyy") }}</time> - 
      {{ project.data.title }}
    </h2>
    {# uncomment the following line to also display the page description of the project#}
    {# <p>{{ project.data.description}}</p> #}
    </section>
  {% endfor -%}


<h2><a href="/en/projects/">Voir plus de projets</a></h2>