---
title: "Projets"
description: "Tous mes projets"
date: Last Modified
layout: layouts/base.njk
permalink: /fr/projets/
---
{% for project in collections.project | byLang | reverse %}
    {# <h2>{{ project.data.title }}</h2> #}
    <a href="{{ project.url }}">
      {% first_image project %}
    </a>
{% endfor %}