---
title: "Projects"
description: "All my projects"
date: Last Modified
layout: layouts/base.njk
---
{% for project in collections.project | byLang | reverse %}
    {# <h2>{{ project.data.title }}</h2> #}
    <a href="{{ project.url }}">
      {% first_image project %}
    </a>
{% endfor %}

{# Could not make this work: should split projects 2 by 2 in divs #}
  {# {% for chunk in projects | chunk(2) %}
    <div>
      {% for project in chunk %}
          <a href="{{ project.url }}">
            {% first_image project %}
          </a>
      {% endfor %}
    </div>
    
  {% endfor %} #}